{% extends 'base.html' %}
{% load static %}
{% block title %}
    OPEN WEBCAM
{% endblock %}

{% block content %}
    <form action="." method="GET">
        <input type="submit" name="btn_takephoto" value="Click to take a photo">
        <input type="submit" name="btn_takevideo" value="Click to take a video">
    </form>
    <input type="submit" name="btn_attphoto" value="Click to show or hide a photo" onclick="att_picture()">
    <img src="{% static 'webcam/images/capture.jpg' %}" id="load_picture" style="display: none;"/>
    <script type="text/javascript">
        function att_picture() {
            var img = document.getElementById('load_picture');
            if (img.style.display == 'block') {
                img.style.display = 'none';
            } else {
                img.style.display = 'block';
            }
        }
    </script>
{% endblock %}